body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #34568B;
    color: white;
}
.container {
  padding: 10%;
}

.container {
  border: 0.25em solid white;
  position: relative;
  border-color: white;
  border-radius: 1.5em;
  transition: .5s;
}

.text-input {
    border-radius: 1.5em;
    padding: .8em;
}

.container:hover {
  border-radius: 2.5em;
  transition: .5s;
}

span {
  vertical-align: middle;
}


.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 15s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, 1px) rotate(0deg); }
}

.center {
    margin: 0 auto;
    display: block;
}

.submit-btn {
    padding: 1em;
    background-color: gray;
    transition: .7s;
}

.submit-btn:hover {
    color: black;
    background-color: red;
    border-radius: 30px;
    transition: .7s;
    animation: color-swapping 1s infinite alternate both ease-in-out;
}

@keyframes color-swapping {
    from {background-color: #00FF00;}
    to {background-color: red;}
}

.subtitle {
    font-size: 2em;
    font-family: 'Merriweather Sans', sans-serif;
}

#subtitle-box {
    padding-bottom: 2em;
}

#public-key-input {
    color: black;
}