body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #34568B;
    color: white;
}

.container {
  border: 0.25em solid white;
  padding: 10%;
  position: relative;
  border-color: white;
  border-radius: 1.5em;
  transition: .5s;
}

.centert {
    text-align: center;
}

.error {
    color: red;
    text-decoration: underline;
}

.container:hover {
  border-radius: 2.5em;
  transition: .5s;
}

.text-input {
    color: black;
    border-radius: 1.5em;
    padding: .8em;
    width: 45em;
}

span {
  vertical-align: middle;
}


.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 15s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, 1px) rotate(0deg); }
}

.center {
    margin: 0 auto;
    display: block;
}

.submit-btn {
    padding: 1em;
    width: 12em;
    transition: .7s;
}

.submit-btn:hover {
    color: black;
    background-color: red;
    width: 13em;
    transition: .7s;
    animation: color-swapping 1s infinite alternate both ease-in-out;
}

.report-link {
    border: 2px solid;
    padding: 0.6em;
    transition: 0.7s;
}

.report-link:hover {
    color: red;
    transition: 0.7s;
}

.back-link {
    border: 2px solid;
    padding: 0.6em;
    transition: 0.7s;
}

.back-link:hover {
    color: orange;
    transition: 0.7s;
}



.report-btn {
    width: 10em;
    transition: 0.7s;
}

.report-btn:hover {
    width: 11em;
    background-color: red;
    transition: 0.7s;
}

@keyframes color-swapping {
    from {background-color: #00FF00;}
    to {background-color: red;}
}

.submit-btn-qr {
    width: 20em;
    padding: 1em;
    transition: .7s;
}

.submit-btn-qr:hover {
    color: white;
    background-size: cover;
    background:	#787878;
    width: 21em;
    padding: 1em;
    transition: .7s;
}

.btn {
    background: gray;
    color: white;
    border-radius: 20px;
}


.subtitle {
    font-size: 2em;
    font-family: 'Merriweather Sans', sans-serif;
}

#subtitle-box {
    padding-bottom: 2em;
}

#public-key-input {
    color: black;
}


@media only screen and (max-device-width: 600px)
{
    #subtitle-box {
        font-size: 2em;
    }

    .container {
        position: relative;
        border: 0.5em solid white;
        border-color: white;
        border-radius: 3em;
        transition: .5s;
    }
    

    .text-input {
        width: 20em;
        font-size: 2em;
        position: relative;
    }

    .btn {
        font-size: 2em;
    }

    .report-link {
        font-size: 2em;
    }

    .back-link {
        font-size: 2em;
    }
}